<style>
  #menu-blur {
    backdrop-filter: blur(.25rem);
    background:rgba(var(--color-neutral), 0.7);
    transition: opacity .2s ease-out;
  }
  :is(.dark) #menu-blur {
    background:rgba(var(--color-neutral-800), 0.7);
  }
</style>
<div style="min-height: 5.5rem;"></div>
<div class="fixed inset-x-0 pl-[24px] pr-[24px]" style="z-index:100">
  <div id="menu-blur" class="absolute opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom"></div>
  <div class="relative max-w-[64rem] ml-auto mr-auto">
    {{ partial "partials/header/basic.html" . }}
  </div>
</div>
<script>
  const clamp = (num, min, max) => Math.min(Math.max(num, min), max);
  window.addEventListener('scroll', function (e) {
    var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
    var background_blur = document.getElementById('menu-blur');
    background_blur.style.opacity = clamp(scroll / 300,0,1);
  });
</script>
